.PadPannel {
    width: 50%;
    height: 100%;
    // border: 1px solid #00FF00;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-items: center;
    align-content: center;
    
}
