@import '../../scss/variables';
.DrumPad{
    width: 105px;
    height: 120px;
    margin: 5px;
    flex-grow: 1;
    background: $black-b;
    border-radius: 5px;
    box-shadow: -2px 2px 5px $red;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: $red 0px 0px 5px;
    color: $red;

    &:hover{
        cursor: pointer;
        box-shadow: -2px 2px 5px $white;
        text-shadow: $white 0px 0px 5px;
        color: $white;
    }

    &:active{
        text-shadow: $white 0px 0px 20px, $white 0px 0px 15px, $white 0px 0px 10px;
    }

    &.pressed{
        cursor: pointer;
        box-shadow: -2px 2px 5px $white;
        text-shadow: $white 0px 0px 20px, $white 0px 0px 15px, $white 0px 0px 10px, $white 0px 0px 5px;
        color: $white;
    }
}